html {
	box-sizing: border-box;
	overflow-x: hidden
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

footer,
header,
section {
	display: block
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline-width: 0
}

button,
input {
	overflow: visible;
	font: inherit;
	margin: 0
}

html,
body {
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5
}

h1 {
	font-size: 36px
}

h3 {
	font-size: 24px;
	margin-bottom: 0.1em;
}

h1,
h3,
{
	font-family: "Segoe UI", Arial, sans-serif;
}

.wide {
	letter-spacing: 4px
}

.thin {
	font-width: lighter!important;
}

.image {
	max-width: 100%;
	height: auto
}

img {
	vertical-align: middle;
	border-style: none;
	max-width: 100%;
}

a {
	color: inherit
}

.about_p {
	margin-bottom: 0.1em;
}

.button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	text-transform: none
}

.input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%
}

.navigation_bar {
	width: 100%;
	overflow: hidden;
	position: static;
	float: left
}

.text_center .navigation_bar {
	display: inline-block;
	width: auto
}

.navigation_bar .nav_bar_item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0
}

.navigation_bar .button {
	white-space: normal
}

.nav_bar_item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
}

.text_center .nav_bar_item {
	text-align: center
}

.grayscale {
	filter: grayscale(75%)
}

.container:after,
.container:before,
.navigation_bar:before,
.navigation_bar:after {
	content: "";
	display: table;
	clear: both
}

.content {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto
}

.page_top {
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 1
}

.display_container {
	position: relative
}

.display_top_left {
	position: absolute;
	left: 0;
	top: 0
}

.display_inline_block {
	display-inline: block;
}

.display_middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.padding_default {
	padding: 8px 16px!important
}

.padding_16 {
	padding-top: 16px!important;
	padding-bottom: 16px!important
}

.padding_32 {
	padding-top: 32px!important;
	padding-bottom: 32px!important
}

.container {
	padding: 0.01em 16px
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	display: flex;
	max-width: 25%;
	flex: 25%;
	padding: 0.5em 0.5em;
}

.full_width {
	width: 100%;
}

.about_wrap {
	display: flex;
	flex-direction: column;
}

.display_block {
	display: block;
}

.shadow_style {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.opacity {
	opacity: 0.60
}

.opacity_mild {
	opacity: 0.75
}

.margin_top_default {
	margin-top: 16px!important
}

.margin_bottom_default {
	margin-bottom: 16px!important
}

@media (max-width: 48em) {
	.wrap {
		max-width: 50%;
		flex: 50%;
	}
}

@media (max-width: 30em) {
	.wrap {
		max-width: 100%;
		flex: 100%;
	}
}

.xxlarge {
	font-size: 36px
}

.text_center {
	text-align: center!important
}

.border {
	border: 1px solid #ccc!important
}

.border_bottom_default {
	border-bottom: 1px solid #ccc!important
}

.section {
	margin-top: 16px!important;
	margin-bottom: 16px!important
}

.nav_bar_content {
	float: right!important
}

.button:hover {
	color: #000!important;
	background-color: #ccc!important
}


/* COLORS */

.white_style {
	color: #000!important;
	background-color: #fff!important
}

.black_style {
	color: #fff!important;
	background-color: #000!important
}

.light_grey_style {
	color: #000!important;
	background-color: #f1f1f1!important
}

.text_white {
	color: #fff!important
}

.text_light_grey {
	color: #f1f1f1!important
}

.border_light_grey {
	border-color: #f1f1f1!important
}

.hover_text_green:hover {
	color: #4CAF50!important
}